@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
	--background: 226.2 100% 100%;
  --foreground: 226.2 5% 10%;
  --card: 226.2 50% 100%;
  --card-foreground: 226.2 5% 15%;
  --popover: 226.2 100% 100%;
  --popover-foreground: 226.2 100% 10%;
  --primary: 226.2 57% 21%;
  --primary-foreground: 0 0% 100%;
  --secondary: 226.2 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 188.2 30% 95%;
  --muted-foreground: 226.2 5% 40%;
  --accent: 188.2 30% 90%;
  --accent-foreground: 226.2 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 226.2 5% 100%;
  --warning: 43 74% 66%;
  --warning-foreground: 30 80% 20%;
  --success: 173 58% 39%;
  --success-foreground: 0 0% 98%;
  --border: 226.2 30% 88%;
  --input: 226.2 30% 50%;
  --ring: 226.2 57% 21%;

	}

	.dark:root {
	 --background: 226.2 50% 5%;
  --foreground: 226.2 5% 90%;
  --card: 226.2 50% 0%;
  --card-foreground: 226.2 5% 90%;
  --popover: 226.2 50% 5%;
  --popover-foreground: 226.2 5% 90%;
  --primary: 226.2 57% 21%;
  --primary-foreground: 0 0% 100%;
  --secondary: 226.2 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 188.2 30% 15%;
  --muted-foreground: 226.2 5% 60%;
  --accent: 188.2 30% 15%;
  --accent-foreground: 226.2 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 226.2 5% 90%;
  --warning: 43 74% 66%;
  --warning-foreground: 30 80% 20%;
  --success: 173 58% 39%;
  --success-foreground: 0 0% 98%;
  --border: 226.2 30% 10%;
  --input: 226.2 30% 18%;
  --ring: 226.2 57% 21%;
	}
}
